In [6]:
import pandas as pd

In [29]:
# Load data
homes = pd.read_csv('notebooks/wuft/Power_of_Irma/Energy-Poverty 32641 homes.csv')

# Remove state from area name
#librarians.area_name = librarians.area_name.apply(lambda x: x.split(',')[0])

# Limit this to just the southwest
#librarians = librarians[librarians.prim_state.isin(['UT', 'CO', 'NM', 'AZ'])]

# Limit to just 
#librarians = librarians[['prim_state', 'area_name', 'tot_emp']]

homes.head()

,PREMISE_HOUSE_NUMBER,PREMISE_STREET_NAME,PREMISE_UNIT,StreetAddress,PREMISE_CITY,PREMISE_STATE,PREMISE_ZIP_CODE,PARCEL,Mean(YEAR),2010_TOTAL_WATER,...,Energy Intensity,EquivAnnual W Use,Annual_kWh,Best A ThermsPerUnit,UnitAdjAnnual EKWH,Unit-A Elec Bill,Unit-A Gas Bill,Unit-A Water Bill,Unit-A WW Bill,Unit Utilities Cost
0,1633,NE 10TH AV,NaN,1633 NE 10TH AV,GAINESVILLE,FL,32641,10675-001-000,2010,70.2,...,15.51,70.16,15258.84,0.00,15258.84,2382.19,0.00,340.21,487.20,3209.61
1,1630,NE 9TH AV,NaN,1630 NE 9TH AV,GAINESVILLE,FL,32641,10675-017-000,2010,64.0,...,14.29,64.03,13349.28,196.78,13349.28,1108.31,331.63,314.95,487.20,2242.10
2,914,NE 16TH TER,NaN,914 NE 16TH TER,GAINESVILLE,FL,32641,10676-008-000,2010,24.1,...,14.83,24.06,7089.09,0.00,7089.09,1044.46,0.00,186.94,260.79,1492.20
3,827,NE 15TH TER,NaN,827 NE 15TH TER,GAINESVILLE,FL,32641,10677-006-000,2010,41.1,...,21.11,41.13,13973.72,0.00,13973.72,2158.18,0.00,231.05,368.29,2757.51
4,927,NE 18TH TER,NaN,927 NE 18TH TER,GAINESVILLE,FL,32641,10733-005-000,2010,41.1,...,19.76,41.13,11303.84,0.00,11303.84,1692.79,0.00,231.05,368.29,2292.12

## Cross tabulating from a within-table context

In [28]:
librarians.pivot(index='area_name', columns='prim_state', values='tot_emp')

prim_state                   AZ      CO     NM     UT
area_name
Albuquerque                 NaN     NaN  240.0    NaN
Boulder                     NaN   180.0    NaN    NaN
Colorado Springs            NaN   240.0    NaN    NaN
Denver-Aurora-Broomfield    NaN  1050.0    NaN    NaN
Farmington                  NaN     NaN   40.0    NaN
Flagstaff                  60.0     NaN    NaN    NaN
Fort Collins-Loveland       NaN   150.0    NaN    NaN
Grand Junction              NaN    40.0    NaN    NaN
Greeley                     NaN   120.0    NaN    NaN
Las Cruces                  NaN     NaN   40.0    NaN
Logan                       NaN     NaN    NaN   60.0
Ogden-Clearfield            NaN     NaN    NaN   30.0
Phoenix-Mesa-Glendale     950.0     NaN    NaN    NaN
Prescott                   60.0     NaN    NaN    NaN
Provo-Orem                  NaN     NaN    NaN  190.0
Pueblo                      NaN    50.0    NaN    NaN
Salt Lake City              NaN     NaN    NaN  370.0
Santa Fe                    NaN     NaN   60.0    NaN
Tucson                    280.0     NaN    NaN    NaN
Yuma                       30.0     NaN    NaN    NaN